{% extends 'layout.html' %}
{% block title %}Page-Index{% endblock %}
{% block content %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800 text-center">ANASAYFA</h1>

    </div>
    <div class="text-center">

        <a href="{{ url_for('web_select_dataset') }}" target="_blank">
            <button type="submit" class="btn btn-primary">Dataset Seçimi</button>
        </a>
        <br>
        <br>
        <br>
        <a href="{{ url_for('web_select_metadata') }}" target="_blank">
            <button type="submit" class="btn btn-primary">Metadata Seçimi</button>
        </a>
        <br>
        <br>
        <br>
        <a href="{{url_for('web_select_features')}}" target="_blank">
            <button type="submit" class="btn btn-primary">Feature Extraction</button>
        </a>
        <br>
        <br>
        <br>


    </div>
{% endblock %}