{% extends 'layout.html' %}
{% block title %}Page-Index{% endblock %}
{% block content %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800 text-center">ANASAYFA</h1>

    </div>
    <div class="text-center">

        <a href="{{ url_for('web_select_dataset') }}" >
            <button type="submit" class="btn btn-primary">Dataset Seçimi</button>
        </a>
        <br>
        <br>
        <br>
        <a href="{{ url_for('web_select_metadata') }}" >
            <button type="submit" class="btn btn-primary">Metadata Seçimi</button>
        </a>
        <br>
        <br>
        <br>
        <a href="{{url_for('web_select_features')}}" >
            <button type="submit" class="btn btn-primary">Öznitelik Çıkarıcı</button>
        </a>
        <br>
        <br>
        <br>
        <a href="{{url_for('web_create_model')}}" >
            <button type="submit" class="btn btn-primary">Model Oluşturucu</button>
        </a>
        <br>
        <br>
        <br>
        <a href="{{url_for('web_select_compile_config')}}" >
            <button type="submit" class="btn btn-primary">Model Derleme Yapılandırması</button>
        </a>
        <br>
        <br>
        <br>
        <a href="{{url_for('web_select_model_trainer')}}" >
            <button type="submit" class="btn btn-primary">Model Eğitimi</button>
        </a>
        <br>
        <br>
        <br>


    </div>
{% endblock %}