<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Title{% endblock %}</title>

    <!-- Custom fonts for this template-->
    <link href="{{ url_for('static',filename = 'vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet"
          type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{ url_for('static',filename= 'css/sb-admin-2.min.css') }}" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for('page_welcome') }}">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-rupee"></i>
            </div>
            <div class="sidebar-brand-text mx-3">DEPSEMO<sup>v0.4</sup></div>

        </a>
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for('page_welcome') }}">
            <div class="sidebar-brand-text mx-3"><small>deepsoundemotion</small></div>

        </a>


        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item" id="anasayfa_buton">
            <a class="nav-link" href="{{ url_for('page_welcome') }}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>ANASAYFA</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            SIRALI SEÇİM ÇALIŞMA
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>Veri Hazırlığı</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">İndirme ve Metadata</h6>
                    <a class="collapse-item" href="{{ url_for('web_select_dataset') }}">Dataset İndirme</a>
                    <a class="collapse-item" href="{{ url_for('web_select_metadata') }}">Metadata Oluşturma</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
               aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Feature&Model</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="{{ url_for('web_select_features') }}">Feature Extraction</a>
                    <a class="collapse-item" href="{{ url_for('web_create_model') }}">Model Oluşturma</a>
                    <a class="collapse-item" href="{{ url_for('web_select_compile_config') }}">Model Derleme</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('web_select_model_trainer')}}"
               aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-adjust"></i>
                <span>Model Eğitimi</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
{#        <div class="sidebar-heading">#}
{#            Addons#}
{#        </div>#}

        <!-- Nav Item - Pages Collapse Menu -->
{#        <li class="nav-item">#}
{#            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"#}
{#               aria-expanded="true" aria-controls="collapsePages">#}
{#                <i class="fas fa-fw fa-folder"></i>#}
{#                <span>Pages</span>#}
{#            </a>#}
{#            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">#}
{#                <div class="bg-white py-2 collapse-inner rounded">#}
{#                    <h6 class="collapse-header">Login Screens:</h6>#}
{#                    <a class="collapse-item" href="login.html">Login</a>#}
{#                    <a class="collapse-item" href="register.html">Register</a>#}
{#                    <a class="collapse-item" href="forgot-password.html">Forgot Password</a>#}
{#                    <div class="collapse-divider"></div>#}
{#                    <h6 class="collapse-header">Other Pages:</h6>#}
{#                    <a class="collapse-item" href="404.html">404 Page</a>#}
{#                    <a class="collapse-item" href="blank.html">Blank Page</a>#}
{#                </div>#}
{#            </div>#}
{#        </li>#}

        <!-- Nav Item - Charts -->
{#        <li class="nav-item">#}
{#            <a class="nav-link" href="charts.html">#}
{#                <i class="fas fa-fw fa-chart-area"></i>#}
{#                <span>Charts</span></a>#}
{#        </li>#}

        <!-- Nav Item - Tables -->
{#        <li class="nav-item">#}
{#            <a class="nav-link" href="tables.html">#}
{#                <i class="fas fa-fw fa-table"></i>#}
{#                <span>Tables</span></a>#}
{#        </li>#}

        <!-- Divider -->
{#        <hr class="sidebar-divider d-none d-md-block">#}

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>


    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>


                <!-- Topbar Navbar -->

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->


                <!-- Content Row -->
                {% block content %}CONTENT BLOCK{% endblock %}


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
{#                    <span>Copyright &copy; Your Website 2020</span>#}
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->


<!-- Bootstrap core JavaScript-->
<script src="{{ url_for('static',filename= 'vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename= 'vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!-- Core plugin JavaScript-->
<script src="{{ url_for('static',filename= 'vendor/jquery-easing/jquery.easing.min.js') }}"></script>

<!-- Custom scripts for all pages-->
<script src="{{ url_for('static',filename= 'js/sb-admin-2.min.js') }}"></script>

<!-- Page level plugins -->
<script src="{{ url_for('static',filename= 'vendor/chart.js/Chart.min.js') }}"></script>

<!-- Page level custom scripts -->
<script src="{{ url_for('static',filename= 'js/demo/chart-area-demo.js') }}"></script>
<script src="{{ url_for('static',filename= 'js/demo/chart-pie-demo.js') }}"></script>

</body>

</html>